
@{
    ViewBag.Title = "NewProducts";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Ürün Ekle</h2>
</br>
<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="UrunAd" />
    </div>
    <div>
        <label>Marka Adı</label>
        <input type="text" class="form-control" name="Marka" />
    </div>
    <div>
        <label>UrunKategoriler Adı</label>
        <input type="text" class="form-control" name="UrunKategoriler" />
    </div>
    <div>
        <label>Fiyat Adı</label>
        <input type="text" class="form-control" name="Fiyat" />
    </div>
    <div>
        <label>Stok Adı</label>
        <input type="text" class="form-control" name="Stok" />
    </div>
    <div>
        <button class="btn btn-info">Kategori Ekle</button>
    </div>
</form>
