@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET MVC STOCK</h1>
        <p class="lead">Made By Hasan Göynücek</p>
        <p><a href="https://github.com/Goynucek/" class="btn btn-primary btn-md">See more &raquo;</a></p>
    </section>
</main>